@font-face {
  font-family: "game-icons";
  src: url('game-icons.eot?t=1779523086548'); /* IE9*/
  src: url('game-icons.eot?t=1779523086548#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('game-icons.woff2?t=1779523086548') format('woff2'),
  url('game-icons.woff?t=1779523086548') format('woff'),
  url('game-icons.ttf?t=1779523086548') format('truetype'),
  url('game-icons.svg?t=1779523086548') format('svg');
}

[class^="game-icons-"], [class*=" game-icons-"] {
  font-family: 'game-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.game-icons-Editing_Tools_align-bottom::before { content: "\ea01"; }
.game-icons-Editing_Tools_align-bottom2::before { content: "\ea02"; }
.game-icons-Editing_Tools_align-horizontal-centers::before { content: "\ea03"; }
.game-icons-Editing_Tools_align-horizontal-centers2::before { content: "\ea04"; }
.game-icons-Editing_Tools_align-left::before { content: "\ea05"; }
.game-icons-Editing_Tools_align-left2::before { content: "\ea06"; }
.game-icons-Editing_Tools_align-right::before { content: "\ea07"; }
.game-icons-Editing_Tools_align-right2::before { content: "\ea08"; }
.game-icons-Editing_Tools_align-top::before { content: "\ea09"; }
.game-icons-Editing_Tools_align-top2::before { content: "\ea0a"; }
.game-icons-Editing_Tools_align-vertical-centers::before { content: "\ea0b"; }
.game-icons-Editing_Tools_align-vertical-centers2::before { content: "\ea0c"; }
.game-icons-Editing_Tools_bold::before { content: "\ea0d"; }
.game-icons-Editing_Tools_brush::before { content: "\ea0e"; }
.game-icons-Editing_Tools_copy::before { content: "\ea0f"; }
.game-icons-Editing_Tools_cursor-alternate-select::before { content: "\ea10"; }
.game-icons-Editing_Tools_cursor-busy::before { content: "\ea11"; }
.game-icons-Editing_Tools_cursor-busy2::before { content: "\ea12"; }
.game-icons-Editing_Tools_cursor-busy3::before { content: "\ea13"; }
.game-icons-Editing_Tools_cursor-default::before { content: "\ea14"; }
.game-icons-Editing_Tools_cursor-default2::before { content: "\ea15"; }
.game-icons-Editing_Tools_cursor-diagonal-resize::before { content: "\ea16"; }
.game-icons-Editing_Tools_cursor-diagonal-resize2::before { content: "\ea17"; }
.game-icons-Editing_Tools_cursor-help::before { content: "\ea18"; }
.game-icons-Editing_Tools_cursor-help2::before { content: "\ea19"; }
.game-icons-Editing_Tools_cursor-horizontal-resize::before { content: "\ea1a"; }
.game-icons-Editing_Tools_cursor-link::before { content: "\ea1b"; }
.game-icons-Editing_Tools_cursor-loading::before { content: "\ea1c"; }
.game-icons-Editing_Tools_cursor-loading2::before { content: "\ea1d"; }
.game-icons-Editing_Tools_cursor-move::before { content: "\ea1e"; }
.game-icons-Editing_Tools_cursor-pen::before { content: "\ea1f"; }
.game-icons-Editing_Tools_cursor-precision-select::before { content: "\ea20"; }
.game-icons-Editing_Tools_cursor-text-select::before { content: "\ea21"; }
.game-icons-Editing_Tools_cursor-unavailable::before { content: "\ea22"; }
.game-icons-Editing_Tools_cursor-unavailable2::before { content: "\ea23"; }
.game-icons-Editing_Tools_cursor-vertical-resize::before { content: "\ea24"; }
.game-icons-Editing_Tools_eraser::before { content: "\ea25"; }
.game-icons-Editing_Tools_eyedropper::before { content: "\ea26"; }
.game-icons-Editing_Tools_fill::before { content: "\ea27"; }
.game-icons-Editing_Tools_font::before { content: "\ea28"; }
.game-icons-Editing_Tools_font2::before { content: "\ea29"; }
.game-icons-Editing_Tools_frame::before { content: "\ea2a"; }
.game-icons-Editing_Tools_italic::before { content: "\ea2b"; }
.game-icons-Editing_Tools_outline::before { content: "\ea2c"; }
.game-icons-Editing_Tools_paintbrush::before { content: "\ea2d"; }
.game-icons-Editing_Tools_palette::before { content: "\ea2e"; }
.game-icons-Editing_Tools_pen::before { content: "\ea2f"; }
.game-icons-Editing_Tools_pencil::before { content: "\ea30"; }
.game-icons-Editing_Tools_redo::before { content: "\ea31"; }
.game-icons-Editing_Tools_select::before { content: "\ea32"; }
.game-icons-Editing_Tools_split::before { content: "\ea33"; }
.game-icons-Editing_Tools_strikethrough::before { content: "\ea34"; }
.game-icons-Editing_Tools_text::before { content: "\ea35"; }
.game-icons-Editing_Tools_underline::before { content: "\ea36"; }
.game-icons-Editing_Tools_undo::before { content: "\ea37"; }
.game-icons-Game_bank::before { content: "\ea38"; }
.game-icons-Game_boss::before { content: "\ea39"; }
.game-icons-Game_card::before { content: "\ea3a"; }
.game-icons-Game_cards::before { content: "\ea3b"; }
.game-icons-Game_character::before { content: "\ea3c"; }
.game-icons-Game_club-card::before { content: "\ea3d"; }
.game-icons-Game_clubs::before { content: "\ea3e"; }
.game-icons-Game_death::before { content: "\ea3f"; }
.game-icons-Game_diamond-card::before { content: "\ea40"; }
.game-icons-Game_diamonds::before { content: "\ea41"; }
.game-icons-Game_dice-pair::before { content: "\ea42"; }
.game-icons-Game_dice::before { content: "\ea43"; }
.game-icons-Game_dice2::before { content: "\ea44"; }
.game-icons-Game_dice3::before { content: "\ea45"; }
.game-icons-Game_dice4::before { content: "\ea46"; }
.game-icons-Game_dice5::before { content: "\ea47"; }
.game-icons-Game_dice6::before { content: "\ea48"; }
.game-icons-Game_double::before { content: "\ea49"; }
.game-icons-Game_experience::before { content: "\ea4a"; }
.game-icons-Game_female::before { content: "\ea4b"; }
.game-icons-Game_ghost::before { content: "\ea4c"; }
.game-icons-Game_halloween::before { content: "\ea4d"; }
.game-icons-Game_heart-card::before { content: "\ea4e"; }
.game-icons-Game_heart::before { content: "\ea4f"; }
.game-icons-Game_hearts::before { content: "\ea50"; }
.game-icons-Game_hit-effect::before { content: "\ea51"; }
.game-icons-Game_house::before { content: "\ea52"; }
.game-icons-Game_house2::before { content: "\ea53"; }
.game-icons-Game_house3::before { content: "\ea54"; }
.game-icons-Game_house4::before { content: "\ea55"; }
.game-icons-Game_i-tetris-i::before { content: "\ea56"; }
.game-icons-Game_j-tetris-j::before { content: "\ea57"; }
.game-icons-Game_l-tetris-l::before { content: "\ea58"; }
.game-icons-Game_level::before { content: "\ea59"; }
.game-icons-Game_male::before { content: "\ea5a"; }
.game-icons-Game_o-tetris-o::before { content: "\ea5b"; }
.game-icons-Game_onefold::before { content: "\ea5c"; }
.game-icons-Game_puzzle::before { content: "\ea5d"; }
.game-icons-Game_puzzle10::before { content: "\ea5e"; }
.game-icons-Game_puzzle11::before { content: "\ea5f"; }
.game-icons-Game_puzzle12::before { content: "\ea60"; }
.game-icons-Game_puzzle2::before { content: "\ea61"; }
.game-icons-Game_puzzle3::before { content: "\ea62"; }
.game-icons-Game_puzzle4::before { content: "\ea63"; }
.game-icons-Game_puzzle5::before { content: "\ea64"; }
.game-icons-Game_puzzle6::before { content: "\ea65"; }
.game-icons-Game_puzzle7::before { content: "\ea66"; }
.game-icons-Game_puzzle8::before { content: "\ea67"; }
.game-icons-Game_puzzle9::before { content: "\ea68"; }
.game-icons-Game_random-dice::before { content: "\ea69"; }
.game-icons-Game_ranking::before { content: "\ea6a"; }
.game-icons-Game_s-tetris-s::before { content: "\ea6b"; }
.game-icons-Game_shop::before { content: "\ea6c"; }
.game-icons-Game_six-sided-dice::before { content: "\ea6d"; }
.game-icons-Game_six-sided-dice2::before { content: "\ea6e"; }
.game-icons-Game_six-sided-dice3::before { content: "\ea6f"; }
.game-icons-Game_six-sided-dice4::before { content: "\ea70"; }
.game-icons-Game_six-sided-dice5::before { content: "\ea71"; }
.game-icons-Game_six-sided-dice6::before { content: "\ea72"; }
.game-icons-Game_skull::before { content: "\ea73"; }
.game-icons-Game_spade-card::before { content: "\ea74"; }
.game-icons-Game_spades::before { content: "\ea75"; }
.game-icons-Game_stamina::before { content: "\ea76"; }
.game-icons-Game_t-tetris-t::before { content: "\ea77"; }
.game-icons-Game_tent::before { content: "\ea78"; }
.game-icons-Game_tower::before { content: "\ea79"; }
.game-icons-Game_tower2::before { content: "\ea7a"; }
.game-icons-Game_tower3::before { content: "\ea7b"; }
.game-icons-Game_tower4::before { content: "\ea7c"; }
.game-icons-Game_tower5::before { content: "\ea7d"; }
.game-icons-Game_tower6::before { content: "\ea7e"; }
.game-icons-Game_town::before { content: "\ea7f"; }
.game-icons-Game_triple::before { content: "\ea80"; }
.game-icons-Game_trophy::before { content: "\ea81"; }
.game-icons-Game_village::before { content: "\ea82"; }
.game-icons-Game_z-tetris-z::before { content: "\ea83"; }
.game-icons-Items_anchor::before { content: "\ea84"; }
.game-icons-Items_anvil::before { content: "\ea85"; }
.game-icons-Items_arrow::before { content: "\ea86"; }
.game-icons-Items_attach::before { content: "\ea87"; }
.game-icons-Items_axe::before { content: "\ea88"; }
.game-icons-Items_backpack::before { content: "\ea89"; }
.game-icons-Items_bomb::before { content: "\ea8a"; }
.game-icons-Items_bone::before { content: "\ea8b"; }
.game-icons-Items_book::before { content: "\ea8c"; }
.game-icons-Items_boot::before { content: "\ea8d"; }
.game-icons-Items_boots::before { content: "\ea8e"; }
.game-icons-Items_bow::before { content: "\ea8f"; }
.game-icons-Items_broadsword::before { content: "\ea90"; }
.game-icons-Items_broadsword2::before { content: "\ea91"; }
.game-icons-Items_bullet::before { content: "\ea92"; }
.game-icons-Items_bullhorn::before { content: "\ea93"; }
.game-icons-Items_chest::before { content: "\ea94"; }
.game-icons-Items_coin::before { content: "\ea95"; }
.game-icons-Items_compass::before { content: "\ea96"; }
.game-icons-Items_crown::before { content: "\ea97"; }
.game-icons-Items_crystal-ball::before { content: "\ea98"; }
.game-icons-Items_cuirass::before { content: "\ea99"; }
.game-icons-Items_dagger::before { content: "\ea9a"; }
.game-icons-Items_diamond::before { content: "\ea9b"; }
.game-icons-Items_fishhook::before { content: "\ea9c"; }
.game-icons-Items_fishing-rod::before { content: "\ea9d"; }
.game-icons-Items_funnel::before { content: "\ea9e"; }
.game-icons-Items_gravestone::before { content: "\ea9f"; }
.game-icons-Items_greave::before { content: "\eaa0"; }
.game-icons-Items_hammer::before { content: "\eaa1"; }
.game-icons-Items_hammer2::before { content: "\eaa2"; }
.game-icons-Items_hayfork::before { content: "\eaa3"; }
.game-icons-Items_helmet::before { content: "\eaa4"; }
.game-icons-Items_helmet2::before { content: "\eaa5"; }
.game-icons-Items_helmet3::before { content: "\eaa6"; }
.game-icons-Items_ingot::before { content: "\eaa7"; }
.game-icons-Items_key::before { content: "\eaa8"; }
.game-icons-Items_lantern::before { content: "\eaa9"; }
.game-icons-Items_lantern2::before { content: "\eaaa"; }
.game-icons-Items_lantern3::before { content: "\eaab"; }
.game-icons-Items_lantern4::before { content: "\eaac"; }
.game-icons-Items_lantern5::before { content: "\eaad"; }
.game-icons-Items_magnet::before { content: "\eaae"; }
.game-icons-Items_map::before { content: "\eaaf"; }
.game-icons-Items_medical-kit::before { content: "\eab0"; }
.game-icons-Items_mirror::before { content: "\eab1"; }
.game-icons-Items_missile::before { content: "\eab2"; }
.game-icons-Items_nail::before { content: "\eab3"; }
.game-icons-Items_nails::before { content: "\eab4"; }
.game-icons-Items_paint-roller::before { content: "\eab5"; }
.game-icons-Items_petroleum::before { content: "\eab6"; }
.game-icons-Items_pickaxe::before { content: "\eab7"; }
.game-icons-Items_pill::before { content: "\eab8"; }
.game-icons-Items_pistol::before { content: "\eab9"; }
.game-icons-Items_potion::before { content: "\eaba"; }
.game-icons-Items_potion2::before { content: "\eabb"; }
.game-icons-Items_potion3::before { content: "\eabc"; }
.game-icons-Items_pushpin::before { content: "\eabd"; }
.game-icons-Items_radiation::before { content: "\eabe"; }
.game-icons-Items_rifle::before { content: "\eabf"; }
.game-icons-Items_saw::before { content: "\eac0"; }
.game-icons-Items_scissors::before { content: "\eac1"; }
.game-icons-Items_screwdriver::before { content: "\eac2"; }
.game-icons-Items_shield::before { content: "\eac3"; }
.game-icons-Items_shield2::before { content: "\eac4"; }
.game-icons-Items_shield3::before { content: "\eac5"; }
.game-icons-Items_shovel::before { content: "\eac6"; }
.game-icons-Items_sickle::before { content: "\eac7"; }
.game-icons-Items_spear::before { content: "\eac8"; }
.game-icons-Items_star-coin::before { content: "\eac9"; }
.game-icons-Items_star-coin2::before { content: "\eaca"; }
.game-icons-Items_stick::before { content: "\eacb"; }
.game-icons-Items_sword::before { content: "\eacc"; }
.game-icons-Items_sycee::before { content: "\eacd"; }
.game-icons-Items_toilet-sucker::before { content: "\eace"; }
.game-icons-Items_tool-kit::before { content: "\eacf"; }
.game-icons-Items_torch::before { content: "\ead0"; }
.game-icons-Items_trident::before { content: "\ead1"; }
.game-icons-Items_wand::before { content: "\ead2"; }
.game-icons-Items_wand2::before { content: "\ead3"; }
.game-icons-Items_wand3::before { content: "\ead4"; }
.game-icons-Items_wrench::before { content: "\ead5"; }
.game-icons-Media_Technology_audio-waves::before { content: "\ead6"; }
.game-icons-Media_Technology_battery-negative::before { content: "\ead7"; }
.game-icons-Media_Technology_battery-positive::before { content: "\ead8"; }
.game-icons-Media_Technology_bookmark::before { content: "\ead9"; }
.game-icons-Media_Technology_bt::before { content: "\eada"; }
.game-icons-Media_Technology_bug::before { content: "\eadb"; }
.game-icons-Media_Technology_calendar::before { content: "\eadc"; }
.game-icons-Media_Technology_camera::before { content: "\eadd"; }
.game-icons-Media_Technology_classic-tv::before { content: "\eade"; }
.game-icons-Media_Technology_clock::before { content: "\eadf"; }
.game-icons-Media_Technology_cloud-download::before { content: "\eae0"; }
.game-icons-Media_Technology_cloud-upload::before { content: "\eae1"; }
.game-icons-Media_Technology_code::before { content: "\eae2"; }
.game-icons-Media_Technology_computer-host::before { content: "\eae3"; }
.game-icons-Media_Technology_connection::before { content: "\eae4"; }
.game-icons-Media_Technology_credit-card::before { content: "\eae5"; }
.game-icons-Media_Technology_dislike::before { content: "\eae6"; }
.game-icons-Media_Technology_display::before { content: "\eae7"; }
.game-icons-Media_Technology_document::before { content: "\eae8"; }
.game-icons-Media_Technology_download::before { content: "\eae9"; }
.game-icons-Media_Technology_earth::before { content: "\eaea"; }
.game-icons-Media_Technology_export::before { content: "\eaeb"; }
.game-icons-Media_Technology_fast-forward::before { content: "\eaec"; }
.game-icons-Media_Technology_fast-rewind::before { content: "\eaed"; }
.game-icons-Media_Technology_file::before { content: "\eaee"; }
.game-icons-Media_Technology_film::before { content: "\eaef"; }
.game-icons-Media_Technology_first-frame::before { content: "\eaf0"; }
.game-icons-Media_Technology_flashdisk::before { content: "\eaf1"; }
.game-icons-Media_Technology_folder::before { content: "\eaf2"; }
.game-icons-Media_Technology_gamepad::before { content: "\eaf3"; }
.game-icons-Media_Technology_headset::before { content: "\eaf4"; }
.game-icons-Media_Technology_image::before { content: "\eaf5"; }
.game-icons-Media_Technology_import::before { content: "\eaf6"; }
.game-icons-Media_Technology_internet::before { content: "\eaf7"; }
.game-icons-Media_Technology_keyboard::before { content: "\eaf8"; }
.game-icons-Media_Technology_laptop::before { content: "\eaf9"; }
.game-icons-Media_Technology_last-frame::before { content: "\eafa"; }
.game-icons-Media_Technology_light::before { content: "\eafb"; }
.game-icons-Media_Technology_like::before { content: "\eafc"; }
.game-icons-Media_Technology_link::before { content: "\eafd"; }
.game-icons-Media_Technology_live::before { content: "\eafe"; }
.game-icons-Media_Technology_live2::before { content: "\eaff"; }
.game-icons-Media_Technology_location::before { content: "\eb00"; }
.game-icons-Media_Technology_mail::before { content: "\eb01"; }
.game-icons-Media_Technology_memory-card::before { content: "\eb02"; }
.game-icons-Media_Technology_mention::before { content: "\eb03"; }
.game-icons-Media_Technology_message::before { content: "\eb04"; }
.game-icons-Media_Technology_message2::before { content: "\eb05"; }
.game-icons-Media_Technology_mic::before { content: "\eb06"; }
.game-icons-Media_Technology_microchip::before { content: "\eb07"; }
.game-icons-Media_Technology_mobile-data::before { content: "\eb08"; }
.game-icons-Media_Technology_mobile-phone::before { content: "\eb09"; }
.game-icons-Media_Technology_mouse::before { content: "\eb0a"; }
.game-icons-Media_Technology_music::before { content: "\eb0b"; }
.game-icons-Media_Technology_music2::before { content: "\eb0c"; }
.game-icons-Media_Technology_mute::before { content: "\eb0d"; }
.game-icons-Media_Technology_next-frame::before { content: "\eb0e"; }
.game-icons-Media_Technology_next::before { content: "\eb0f"; }
.game-icons-Media_Technology_no-music::before { content: "\eb10"; }
.game-icons-Media_Technology_no-music2::before { content: "\eb11"; }
.game-icons-Media_Technology_notification::before { content: "\eb12"; }
.game-icons-Media_Technology_pause::before { content: "\eb13"; }
.game-icons-Media_Technology_phone::before { content: "\eb14"; }
.game-icons-Media_Technology_play::before { content: "\eb15"; }
.game-icons-Media_Technology_power-switch::before { content: "\eb16"; }
.game-icons-Media_Technology_previous-frame::before { content: "\eb17"; }
.game-icons-Media_Technology_previous::before { content: "\eb18"; }
.game-icons-Media_Technology_protect::before { content: "\eb19"; }
.game-icons-Media_Technology_qr::before { content: "\eb1a"; }
.game-icons-Media_Technology_record::before { content: "\eb1b"; }
.game-icons-Media_Technology_recording::before { content: "\eb1c"; }
.game-icons-Media_Technology_share::before { content: "\eb1d"; }
.game-icons-Media_Technology_share2::before { content: "\eb1e"; }
.game-icons-Media_Technology_silent::before { content: "\eb1f"; }
.game-icons-Media_Technology_stop::before { content: "\eb20"; }
.game-icons-Media_Technology_tablet::before { content: "\eb21"; }
.game-icons-Media_Technology_tag::before { content: "\eb22"; }
.game-icons-Media_Technology_time::before { content: "\eb23"; }
.game-icons-Media_Technology_trash::before { content: "\eb24"; }
.game-icons-Media_Technology_upload::before { content: "\eb25"; }
.game-icons-Media_Technology_video::before { content: "\eb26"; }
.game-icons-Media_Technology_volume::before { content: "\eb27"; }
.game-icons-Media_Technology_watch::before { content: "\eb28"; }
.game-icons-Media_Technology_webcam::before { content: "\eb29"; }
.game-icons-Media_Technology_wifi::before { content: "\eb2a"; }
.game-icons-Shapes_Symbol_123::before { content: "\eb2b"; }
.game-icons-Shapes_Symbol_a::before { content: "\eb2c"; }
.game-icons-Shapes_Symbol_abc::before { content: "\eb2d"; }
.game-icons-Shapes_Symbol_acute-triangle::before { content: "\eb2e"; }
.game-icons-Shapes_Symbol_approximately-equal::before { content: "\eb2f"; }
.game-icons-Shapes_Symbol_arrow-down::before { content: "\eb30"; }
.game-icons-Shapes_Symbol_arrow-down2::before { content: "\eb31"; }
.game-icons-Shapes_Symbol_arrow-down3::before { content: "\eb32"; }
.game-icons-Shapes_Symbol_arrow-left::before { content: "\eb33"; }
.game-icons-Shapes_Symbol_arrow-left2::before { content: "\eb34"; }
.game-icons-Shapes_Symbol_arrow-left3::before { content: "\eb35"; }
.game-icons-Shapes_Symbol_arrow-right::before { content: "\eb36"; }
.game-icons-Shapes_Symbol_arrow-right2::before { content: "\eb37"; }
.game-icons-Shapes_Symbol_arrow-right3::before { content: "\eb38"; }
.game-icons-Shapes_Symbol_arrow-up::before { content: "\eb39"; }
.game-icons-Shapes_Symbol_arrow-up2::before { content: "\eb3a"; }
.game-icons-Shapes_Symbol_arrow-up3::before { content: "\eb3b"; }
.game-icons-Shapes_Symbol_b::before { content: "\eb3c"; }
.game-icons-Shapes_Symbol_bitcoin::before { content: "\eb3d"; }
.game-icons-Shapes_Symbol_c::before { content: "\eb3e"; }
.game-icons-Shapes_Symbol_capsule::before { content: "\eb3f"; }
.game-icons-Shapes_Symbol_circle::before { content: "\eb40"; }
.game-icons-Shapes_Symbol_cny-jpy::before { content: "\eb41"; }
.game-icons-Shapes_Symbol_d::before { content: "\eb42"; }
.game-icons-Shapes_Symbol_division::before { content: "\eb43"; }
.game-icons-Shapes_Symbol_division2::before { content: "\eb44"; }
.game-icons-Shapes_Symbol_e::before { content: "\eb45"; }
.game-icons-Shapes_Symbol_ease-in-out::before { content: "\eb46"; }
.game-icons-Shapes_Symbol_ease-in::before { content: "\eb47"; }
.game-icons-Shapes_Symbol_ease-out::before { content: "\eb48"; }
.game-icons-Shapes_Symbol_eight::before { content: "\eb49"; }
.game-icons-Shapes_Symbol_ellipse::before { content: "\eb4a"; }
.game-icons-Shapes_Symbol_emoji::before { content: "\eb4b"; }
.game-icons-Shapes_Symbol_emoji10::before { content: "\eb4c"; }
.game-icons-Shapes_Symbol_emoji11::before { content: "\eb4d"; }
.game-icons-Shapes_Symbol_emoji12::before { content: "\eb4e"; }
.game-icons-Shapes_Symbol_emoji13::before { content: "\eb4f"; }
.game-icons-Shapes_Symbol_emoji14::before { content: "\eb50"; }
.game-icons-Shapes_Symbol_emoji15::before { content: "\eb51"; }
.game-icons-Shapes_Symbol_emoji16::before { content: "\eb52"; }
.game-icons-Shapes_Symbol_emoji17::before { content: "\eb53"; }
.game-icons-Shapes_Symbol_emoji18::before { content: "\eb54"; }
.game-icons-Shapes_Symbol_emoji19::before { content: "\eb55"; }
.game-icons-Shapes_Symbol_emoji2::before { content: "\eb56"; }
.game-icons-Shapes_Symbol_emoji20::before { content: "\eb57"; }
.game-icons-Shapes_Symbol_emoji3::before { content: "\eb58"; }
.game-icons-Shapes_Symbol_emoji4::before { content: "\eb59"; }
.game-icons-Shapes_Symbol_emoji5::before { content: "\eb5a"; }
.game-icons-Shapes_Symbol_emoji6::before { content: "\eb5b"; }
.game-icons-Shapes_Symbol_emoji7::before { content: "\eb5c"; }
.game-icons-Shapes_Symbol_emoji8::before { content: "\eb5d"; }
.game-icons-Shapes_Symbol_emoji9::before { content: "\eb5e"; }
.game-icons-Shapes_Symbol_equals::before { content: "\eb5f"; }
.game-icons-Shapes_Symbol_equilateral-triangle::before { content: "\eb60"; }
.game-icons-Shapes_Symbol_eur::before { content: "\eb61"; }
.game-icons-Shapes_Symbol_f::before { content: "\eb62"; }
.game-icons-Shapes_Symbol_five-pointed-star::before { content: "\eb63"; }
.game-icons-Shapes_Symbol_five::before { content: "\eb64"; }
.game-icons-Shapes_Symbol_four-pointed-star::before { content: "\eb65"; }
.game-icons-Shapes_Symbol_four::before { content: "\eb66"; }
.game-icons-Shapes_Symbol_function::before { content: "\eb67"; }
.game-icons-Shapes_Symbol_g::before { content: "\eb68"; }
.game-icons-Shapes_Symbol_gbp::before { content: "\eb69"; }
.game-icons-Shapes_Symbol_greater-than-or-equal::before { content: "\eb6a"; }
.game-icons-Shapes_Symbol_greater-than::before { content: "\eb6b"; }
.game-icons-Shapes_Symbol_h::before { content: "\eb6c"; }
.game-icons-Shapes_Symbol_heptagon::before { content: "\eb6d"; }
.game-icons-Shapes_Symbol_hexagon::before { content: "\eb6e"; }
.game-icons-Shapes_Symbol_i::before { content: "\eb6f"; }
.game-icons-Shapes_Symbol_infinity::before { content: "\eb70"; }
.game-icons-Shapes_Symbol_inr::before { content: "\eb71"; }
.game-icons-Shapes_Symbol_j::before { content: "\eb72"; }
.game-icons-Shapes_Symbol_k::before { content: "\eb73"; }
.game-icons-Shapes_Symbol_krw::before { content: "\eb74"; }
.game-icons-Shapes_Symbol_l::before { content: "\eb75"; }
.game-icons-Shapes_Symbol_less-than-or-equal::before { content: "\eb76"; }
.game-icons-Shapes_Symbol_less-than::before { content: "\eb77"; }
.game-icons-Shapes_Symbol_linear::before { content: "\eb78"; }
.game-icons-Shapes_Symbol_m::before { content: "\eb79"; }
.game-icons-Shapes_Symbol_minus::before { content: "\eb7a"; }
.game-icons-Shapes_Symbol_multiplication::before { content: "\eb7b"; }
.game-icons-Shapes_Symbol_multiplication2::before { content: "\eb7c"; }
.game-icons-Shapes_Symbol_multiplication3::before { content: "\eb7d"; }
.game-icons-Shapes_Symbol_n::before { content: "\eb7e"; }
.game-icons-Shapes_Symbol_ngn::before { content: "\eb7f"; }
.game-icons-Shapes_Symbol_nine::before { content: "\eb80"; }
.game-icons-Shapes_Symbol_not-equal::before { content: "\eb81"; }
.game-icons-Shapes_Symbol_o::before { content: "\eb82"; }
.game-icons-Shapes_Symbol_obtuse-triangle::before { content: "\eb83"; }
.game-icons-Shapes_Symbol_one::before { content: "\eb84"; }
.game-icons-Shapes_Symbol_p::before { content: "\eb85"; }
.game-icons-Shapes_Symbol_parallelogram::before { content: "\eb86"; }
.game-icons-Shapes_Symbol_pentagon::before { content: "\eb87"; }
.game-icons-Shapes_Symbol_percent::before { content: "\eb88"; }
.game-icons-Shapes_Symbol_pi::before { content: "\eb89"; }
.game-icons-Shapes_Symbol_plus::before { content: "\eb8a"; }
.game-icons-Shapes_Symbol_q::before { content: "\eb8b"; }
.game-icons-Shapes_Symbol_quadrilateral::before { content: "\eb8c"; }
.game-icons-Shapes_Symbol_quarter-circle::before { content: "\eb8d"; }
.game-icons-Shapes_Symbol_r::before { content: "\eb8e"; }
.game-icons-Shapes_Symbol_rectangle::before { content: "\eb8f"; }
.game-icons-Shapes_Symbol_rhombus::before { content: "\eb90"; }
.game-icons-Shapes_Symbol_right-trapezoid::before { content: "\eb91"; }
.game-icons-Shapes_Symbol_rub::before { content: "\eb92"; }
.game-icons-Shapes_Symbol_s::before { content: "\eb93"; }
.game-icons-Shapes_Symbol_semicircle::before { content: "\eb94"; }
.game-icons-Shapes_Symbol_seven-pointed-star::before { content: "\eb95"; }
.game-icons-Shapes_Symbol_seven::before { content: "\eb96"; }
.game-icons-Shapes_Symbol_six-pointed-star::before { content: "\eb97"; }
.game-icons-Shapes_Symbol_six::before { content: "\eb98"; }
.game-icons-Shapes_Symbol_square-root::before { content: "\eb99"; }
.game-icons-Shapes_Symbol_square::before { content: "\eb9a"; }
.game-icons-Shapes_Symbol_t::before { content: "\eb9b"; }
.game-icons-Shapes_Symbol_thb::before { content: "\eb9c"; }
.game-icons-Shapes_Symbol_three-pointed-star::before { content: "\eb9d"; }
.game-icons-Shapes_Symbol_three-quarter-circle::before { content: "\eb9e"; }
.game-icons-Shapes_Symbol_three::before { content: "\eb9f"; }
.game-icons-Shapes_Symbol_trapezoid::before { content: "\eba0"; }
.game-icons-Shapes_Symbol_triangle::before { content: "\eba1"; }
.game-icons-Shapes_Symbol_try::before { content: "\eba2"; }
.game-icons-Shapes_Symbol_two::before { content: "\eba3"; }
.game-icons-Shapes_Symbol_u::before { content: "\eba4"; }
.game-icons-Shapes_Symbol_usd::before { content: "\eba5"; }
.game-icons-Shapes_Symbol_usd2::before { content: "\eba6"; }
.game-icons-Shapes_Symbol_v::before { content: "\eba7"; }
.game-icons-Shapes_Symbol_w::before { content: "\eba8"; }
.game-icons-Shapes_Symbol_x::before { content: "\eba9"; }
.game-icons-Shapes_Symbol_y::before { content: "\ebaa"; }
.game-icons-Shapes_Symbol_yen::before { content: "\ebab"; }
.game-icons-Shapes_Symbol_yuan::before { content: "\ebac"; }
.game-icons-Shapes_Symbol_z::before { content: "\ebad"; }
.game-icons-Shapes_Symbol_zero::before { content: "\ebae"; }
.game-icons-UI_adjustment::before { content: "\ebaf"; }
.game-icons-UI_ban::before { content: "\ebb0"; }
.game-icons-UI_circle-ring::before { content: "\ebb1"; }
.game-icons-UI_cross::before { content: "\ebb2"; }
.game-icons-UI_dark-mode::before { content: "\ebb3"; }
.game-icons-UI_dark-mode2::before { content: "\ebb4"; }
.game-icons-UI_exclamation-double::before { content: "\ebb5"; }
.game-icons-UI_exclamation::before { content: "\ebb6"; }
.game-icons-UI_expand::before { content: "\ebb7"; }
.game-icons-UI_expand2::before { content: "\ebb8"; }
.game-icons-UI_expand3::before { content: "\ebb9"; }
.game-icons-UI_expand4::before { content: "\ebba"; }
.game-icons-UI_friends::before { content: "\ebbb"; }
.game-icons-UI_grid-add::before { content: "\ebbc"; }
.game-icons-UI_grid::before { content: "\ebbd"; }
.game-icons-UI_grid2::before { content: "\ebbe"; }
.game-icons-UI_grid3::before { content: "\ebbf"; }
.game-icons-UI_grid4::before { content: "\ebc0"; }
.game-icons-UI_grid5::before { content: "\ebc1"; }
.game-icons-UI_grid6::before { content: "\ebc2"; }
.game-icons-UI_grid7::before { content: "\ebc3"; }
.game-icons-UI_info::before { content: "\ebc4"; }
.game-icons-UI_invisible::before { content: "\ebc5"; }
.game-icons-UI_light-mode::before { content: "\ebc6"; }
.game-icons-UI_light-mode2::before { content: "\ebc7"; }
.game-icons-UI_loading::before { content: "\ebc8"; }
.game-icons-UI_loading2::before { content: "\ebc9"; }
.game-icons-UI_loading3::before { content: "\ebca"; }
.game-icons-UI_loading4::before { content: "\ebcb"; }
.game-icons-UI_loading5::before { content: "\ebcc"; }
.game-icons-UI_lock::before { content: "\ebcd"; }
.game-icons-UI_menu-add::before { content: "\ebce"; }
.game-icons-UI_menu-open::before { content: "\ebcf"; }
.game-icons-UI_menu::before { content: "\ebd0"; }
.game-icons-UI_menu2::before { content: "\ebd1"; }
.game-icons-UI_menu3::before { content: "\ebd2"; }
.game-icons-UI_menu4::before { content: "\ebd3"; }
.game-icons-UI_menu5::before { content: "\ebd4"; }
.game-icons-UI_menu6::before { content: "\ebd5"; }
.game-icons-UI_menu7::before { content: "\ebd6"; }
.game-icons-UI_progress::before { content: "\ebd7"; }
.game-icons-UI_query::before { content: "\ebd8"; }
.game-icons-UI_refresh::before { content: "\ebd9"; }
.game-icons-UI_rest::before { content: "\ebda"; }
.game-icons-UI_restore::before { content: "\ebdb"; }
.game-icons-UI_restore2::before { content: "\ebdc"; }
.game-icons-UI_restore3::before { content: "\ebdd"; }
.game-icons-UI_restore4::before { content: "\ebde"; }
.game-icons-UI_rotate-left::before { content: "\ebdf"; }
.game-icons-UI_rotate-right::before { content: "\ebe0"; }
.game-icons-UI_save::before { content: "\ebe1"; }
.game-icons-UI_search::before { content: "\ebe2"; }
.game-icons-UI_settings::before { content: "\ebe3"; }
.game-icons-UI_settings2::before { content: "\ebe4"; }
.game-icons-UI_slider::before { content: "\ebe5"; }
.game-icons-UI_tick::before { content: "\ebe6"; }
.game-icons-UI_toggle-off::before { content: "\ebe7"; }
.game-icons-UI_toggle-on::before { content: "\ebe8"; }
.game-icons-UI_toggle::before { content: "\ebe9"; }
.game-icons-UI_ui::before { content: "\ebea"; }
.game-icons-UI_unlock::before { content: "\ebeb"; }
.game-icons-UI_user-add::before { content: "\ebec"; }
.game-icons-UI_user-alert::before { content: "\ebed"; }
.game-icons-UI_user-avatar::before { content: "\ebee"; }
.game-icons-UI_user-avatar2::before { content: "\ebef"; }
.game-icons-UI_user-check::before { content: "\ebf0"; }
.game-icons-UI_user-delete::before { content: "\ebf1"; }
.game-icons-UI_user-group::before { content: "\ebf2"; }
.game-icons-UI_user-list::before { content: "\ebf3"; }
.game-icons-UI_user-remove::before { content: "\ebf4"; }
.game-icons-UI_user::before { content: "\ebf5"; }
.game-icons-UI_visible::before { content: "\ebf6"; }
.game-icons-UI_zoom-in::before { content: "\ebf7"; }
.game-icons-UI_zoom-out::before { content: "\ebf8"; }


$game-icons-Editing_Tools_align-bottom: '\ea01';
$game-icons-Editing_Tools_align-bottom2: '\ea02';
$game-icons-Editing_Tools_align-horizontal-centers: '\ea03';
$game-icons-Editing_Tools_align-horizontal-centers2: '\ea04';
$game-icons-Editing_Tools_align-left: '\ea05';
$game-icons-Editing_Tools_align-left2: '\ea06';
$game-icons-Editing_Tools_align-right: '\ea07';
$game-icons-Editing_Tools_align-right2: '\ea08';
$game-icons-Editing_Tools_align-top: '\ea09';
$game-icons-Editing_Tools_align-top2: '\ea0a';
$game-icons-Editing_Tools_align-vertical-centers: '\ea0b';
$game-icons-Editing_Tools_align-vertical-centers2: '\ea0c';
$game-icons-Editing_Tools_bold: '\ea0d';
$game-icons-Editing_Tools_brush: '\ea0e';
$game-icons-Editing_Tools_copy: '\ea0f';
$game-icons-Editing_Tools_cursor-alternate-select: '\ea10';
$game-icons-Editing_Tools_cursor-busy: '\ea11';
$game-icons-Editing_Tools_cursor-busy2: '\ea12';
$game-icons-Editing_Tools_cursor-busy3: '\ea13';
$game-icons-Editing_Tools_cursor-default: '\ea14';
$game-icons-Editing_Tools_cursor-default2: '\ea15';
$game-icons-Editing_Tools_cursor-diagonal-resize: '\ea16';
$game-icons-Editing_Tools_cursor-diagonal-resize2: '\ea17';
$game-icons-Editing_Tools_cursor-help: '\ea18';
$game-icons-Editing_Tools_cursor-help2: '\ea19';
$game-icons-Editing_Tools_cursor-horizontal-resize: '\ea1a';
$game-icons-Editing_Tools_cursor-link: '\ea1b';
$game-icons-Editing_Tools_cursor-loading: '\ea1c';
$game-icons-Editing_Tools_cursor-loading2: '\ea1d';
$game-icons-Editing_Tools_cursor-move: '\ea1e';
$game-icons-Editing_Tools_cursor-pen: '\ea1f';
$game-icons-Editing_Tools_cursor-precision-select: '\ea20';
$game-icons-Editing_Tools_cursor-text-select: '\ea21';
$game-icons-Editing_Tools_cursor-unavailable: '\ea22';
$game-icons-Editing_Tools_cursor-unavailable2: '\ea23';
$game-icons-Editing_Tools_cursor-vertical-resize: '\ea24';
$game-icons-Editing_Tools_eraser: '\ea25';
$game-icons-Editing_Tools_eyedropper: '\ea26';
$game-icons-Editing_Tools_fill: '\ea27';
$game-icons-Editing_Tools_font: '\ea28';
$game-icons-Editing_Tools_font2: '\ea29';
$game-icons-Editing_Tools_frame: '\ea2a';
$game-icons-Editing_Tools_italic: '\ea2b';
$game-icons-Editing_Tools_outline: '\ea2c';
$game-icons-Editing_Tools_paintbrush: '\ea2d';
$game-icons-Editing_Tools_palette: '\ea2e';
$game-icons-Editing_Tools_pen: '\ea2f';
$game-icons-Editing_Tools_pencil: '\ea30';
$game-icons-Editing_Tools_redo: '\ea31';
$game-icons-Editing_Tools_select: '\ea32';
$game-icons-Editing_Tools_split: '\ea33';
$game-icons-Editing_Tools_strikethrough: '\ea34';
$game-icons-Editing_Tools_text: '\ea35';
$game-icons-Editing_Tools_underline: '\ea36';
$game-icons-Editing_Tools_undo: '\ea37';
$game-icons-Game_bank: '\ea38';
$game-icons-Game_boss: '\ea39';
$game-icons-Game_card: '\ea3a';
$game-icons-Game_cards: '\ea3b';
$game-icons-Game_character: '\ea3c';
$game-icons-Game_club-card: '\ea3d';
$game-icons-Game_clubs: '\ea3e';
$game-icons-Game_death: '\ea3f';
$game-icons-Game_diamond-card: '\ea40';
$game-icons-Game_diamonds: '\ea41';
$game-icons-Game_dice-pair: '\ea42';
$game-icons-Game_dice: '\ea43';
$game-icons-Game_dice2: '\ea44';
$game-icons-Game_dice3: '\ea45';
$game-icons-Game_dice4: '\ea46';
$game-icons-Game_dice5: '\ea47';
$game-icons-Game_dice6: '\ea48';
$game-icons-Game_double: '\ea49';
$game-icons-Game_experience: '\ea4a';
$game-icons-Game_female: '\ea4b';
$game-icons-Game_ghost: '\ea4c';
$game-icons-Game_halloween: '\ea4d';
$game-icons-Game_heart-card: '\ea4e';
$game-icons-Game_heart: '\ea4f';
$game-icons-Game_hearts: '\ea50';
$game-icons-Game_hit-effect: '\ea51';
$game-icons-Game_house: '\ea52';
$game-icons-Game_house2: '\ea53';
$game-icons-Game_house3: '\ea54';
$game-icons-Game_house4: '\ea55';
$game-icons-Game_i-tetris-i: '\ea56';
$game-icons-Game_j-tetris-j: '\ea57';
$game-icons-Game_l-tetris-l: '\ea58';
$game-icons-Game_level: '\ea59';
$game-icons-Game_male: '\ea5a';
$game-icons-Game_o-tetris-o: '\ea5b';
$game-icons-Game_onefold: '\ea5c';
$game-icons-Game_puzzle: '\ea5d';
$game-icons-Game_puzzle10: '\ea5e';
$game-icons-Game_puzzle11: '\ea5f';
$game-icons-Game_puzzle12: '\ea60';
$game-icons-Game_puzzle2: '\ea61';
$game-icons-Game_puzzle3: '\ea62';
$game-icons-Game_puzzle4: '\ea63';
$game-icons-Game_puzzle5: '\ea64';
$game-icons-Game_puzzle6: '\ea65';
$game-icons-Game_puzzle7: '\ea66';
$game-icons-Game_puzzle8: '\ea67';
$game-icons-Game_puzzle9: '\ea68';
$game-icons-Game_random-dice: '\ea69';
$game-icons-Game_ranking: '\ea6a';
$game-icons-Game_s-tetris-s: '\ea6b';
$game-icons-Game_shop: '\ea6c';
$game-icons-Game_six-sided-dice: '\ea6d';
$game-icons-Game_six-sided-dice2: '\ea6e';
$game-icons-Game_six-sided-dice3: '\ea6f';
$game-icons-Game_six-sided-dice4: '\ea70';
$game-icons-Game_six-sided-dice5: '\ea71';
$game-icons-Game_six-sided-dice6: '\ea72';
$game-icons-Game_skull: '\ea73';
$game-icons-Game_spade-card: '\ea74';
$game-icons-Game_spades: '\ea75';
$game-icons-Game_stamina: '\ea76';
$game-icons-Game_t-tetris-t: '\ea77';
$game-icons-Game_tent: '\ea78';
$game-icons-Game_tower: '\ea79';
$game-icons-Game_tower2: '\ea7a';
$game-icons-Game_tower3: '\ea7b';
$game-icons-Game_tower4: '\ea7c';
$game-icons-Game_tower5: '\ea7d';
$game-icons-Game_tower6: '\ea7e';
$game-icons-Game_town: '\ea7f';
$game-icons-Game_triple: '\ea80';
$game-icons-Game_trophy: '\ea81';
$game-icons-Game_village: '\ea82';
$game-icons-Game_z-tetris-z: '\ea83';
$game-icons-Items_anchor: '\ea84';
$game-icons-Items_anvil: '\ea85';
$game-icons-Items_arrow: '\ea86';
$game-icons-Items_attach: '\ea87';
$game-icons-Items_axe: '\ea88';
$game-icons-Items_backpack: '\ea89';
$game-icons-Items_bomb: '\ea8a';
$game-icons-Items_bone: '\ea8b';
$game-icons-Items_book: '\ea8c';
$game-icons-Items_boot: '\ea8d';
$game-icons-Items_boots: '\ea8e';
$game-icons-Items_bow: '\ea8f';
$game-icons-Items_broadsword: '\ea90';
$game-icons-Items_broadsword2: '\ea91';
$game-icons-Items_bullet: '\ea92';
$game-icons-Items_bullhorn: '\ea93';
$game-icons-Items_chest: '\ea94';
$game-icons-Items_coin: '\ea95';
$game-icons-Items_compass: '\ea96';
$game-icons-Items_crown: '\ea97';
$game-icons-Items_crystal-ball: '\ea98';
$game-icons-Items_cuirass: '\ea99';
$game-icons-Items_dagger: '\ea9a';
$game-icons-Items_diamond: '\ea9b';
$game-icons-Items_fishhook: '\ea9c';
$game-icons-Items_fishing-rod: '\ea9d';
$game-icons-Items_funnel: '\ea9e';
$game-icons-Items_gravestone: '\ea9f';
$game-icons-Items_greave: '\eaa0';
$game-icons-Items_hammer: '\eaa1';
$game-icons-Items_hammer2: '\eaa2';
$game-icons-Items_hayfork: '\eaa3';
$game-icons-Items_helmet: '\eaa4';
$game-icons-Items_helmet2: '\eaa5';
$game-icons-Items_helmet3: '\eaa6';
$game-icons-Items_ingot: '\eaa7';
$game-icons-Items_key: '\eaa8';
$game-icons-Items_lantern: '\eaa9';
$game-icons-Items_lantern2: '\eaaa';
$game-icons-Items_lantern3: '\eaab';
$game-icons-Items_lantern4: '\eaac';
$game-icons-Items_lantern5: '\eaad';
$game-icons-Items_magnet: '\eaae';
$game-icons-Items_map: '\eaaf';
$game-icons-Items_medical-kit: '\eab0';
$game-icons-Items_mirror: '\eab1';
$game-icons-Items_missile: '\eab2';
$game-icons-Items_nail: '\eab3';
$game-icons-Items_nails: '\eab4';
$game-icons-Items_paint-roller: '\eab5';
$game-icons-Items_petroleum: '\eab6';
$game-icons-Items_pickaxe: '\eab7';
$game-icons-Items_pill: '\eab8';
$game-icons-Items_pistol: '\eab9';
$game-icons-Items_potion: '\eaba';
$game-icons-Items_potion2: '\eabb';
$game-icons-Items_potion3: '\eabc';
$game-icons-Items_pushpin: '\eabd';
$game-icons-Items_radiation: '\eabe';
$game-icons-Items_rifle: '\eabf';
$game-icons-Items_saw: '\eac0';
$game-icons-Items_scissors: '\eac1';
$game-icons-Items_screwdriver: '\eac2';
$game-icons-Items_shield: '\eac3';
$game-icons-Items_shield2: '\eac4';
$game-icons-Items_shield3: '\eac5';
$game-icons-Items_shovel: '\eac6';
$game-icons-Items_sickle: '\eac7';
$game-icons-Items_spear: '\eac8';
$game-icons-Items_star-coin: '\eac9';
$game-icons-Items_star-coin2: '\eaca';
$game-icons-Items_stick: '\eacb';
$game-icons-Items_sword: '\eacc';
$game-icons-Items_sycee: '\eacd';
$game-icons-Items_toilet-sucker: '\eace';
$game-icons-Items_tool-kit: '\eacf';
$game-icons-Items_torch: '\ead0';
$game-icons-Items_trident: '\ead1';
$game-icons-Items_wand: '\ead2';
$game-icons-Items_wand2: '\ead3';
$game-icons-Items_wand3: '\ead4';
$game-icons-Items_wrench: '\ead5';
$game-icons-Media_Technology_audio-waves: '\ead6';
$game-icons-Media_Technology_battery-negative: '\ead7';
$game-icons-Media_Technology_battery-positive: '\ead8';
$game-icons-Media_Technology_bookmark: '\ead9';
$game-icons-Media_Technology_bt: '\eada';
$game-icons-Media_Technology_bug: '\eadb';
$game-icons-Media_Technology_calendar: '\eadc';
$game-icons-Media_Technology_camera: '\eadd';
$game-icons-Media_Technology_classic-tv: '\eade';
$game-icons-Media_Technology_clock: '\eadf';
$game-icons-Media_Technology_cloud-download: '\eae0';
$game-icons-Media_Technology_cloud-upload: '\eae1';
$game-icons-Media_Technology_code: '\eae2';
$game-icons-Media_Technology_computer-host: '\eae3';
$game-icons-Media_Technology_connection: '\eae4';
$game-icons-Media_Technology_credit-card: '\eae5';
$game-icons-Media_Technology_dislike: '\eae6';
$game-icons-Media_Technology_display: '\eae7';
$game-icons-Media_Technology_document: '\eae8';
$game-icons-Media_Technology_download: '\eae9';
$game-icons-Media_Technology_earth: '\eaea';
$game-icons-Media_Technology_export: '\eaeb';
$game-icons-Media_Technology_fast-forward: '\eaec';
$game-icons-Media_Technology_fast-rewind: '\eaed';
$game-icons-Media_Technology_file: '\eaee';
$game-icons-Media_Technology_film: '\eaef';
$game-icons-Media_Technology_first-frame: '\eaf0';
$game-icons-Media_Technology_flashdisk: '\eaf1';
$game-icons-Media_Technology_folder: '\eaf2';
$game-icons-Media_Technology_gamepad: '\eaf3';
$game-icons-Media_Technology_headset: '\eaf4';
$game-icons-Media_Technology_image: '\eaf5';
$game-icons-Media_Technology_import: '\eaf6';
$game-icons-Media_Technology_internet: '\eaf7';
$game-icons-Media_Technology_keyboard: '\eaf8';
$game-icons-Media_Technology_laptop: '\eaf9';
$game-icons-Media_Technology_last-frame: '\eafa';
$game-icons-Media_Technology_light: '\eafb';
$game-icons-Media_Technology_like: '\eafc';
$game-icons-Media_Technology_link: '\eafd';
$game-icons-Media_Technology_live: '\eafe';
$game-icons-Media_Technology_live2: '\eaff';
$game-icons-Media_Technology_location: '\eb00';
$game-icons-Media_Technology_mail: '\eb01';
$game-icons-Media_Technology_memory-card: '\eb02';
$game-icons-Media_Technology_mention: '\eb03';
$game-icons-Media_Technology_message: '\eb04';
$game-icons-Media_Technology_message2: '\eb05';
$game-icons-Media_Technology_mic: '\eb06';
$game-icons-Media_Technology_microchip: '\eb07';
$game-icons-Media_Technology_mobile-data: '\eb08';
$game-icons-Media_Technology_mobile-phone: '\eb09';
$game-icons-Media_Technology_mouse: '\eb0a';
$game-icons-Media_Technology_music: '\eb0b';
$game-icons-Media_Technology_music2: '\eb0c';
$game-icons-Media_Technology_mute: '\eb0d';
$game-icons-Media_Technology_next-frame: '\eb0e';
$game-icons-Media_Technology_next: '\eb0f';
$game-icons-Media_Technology_no-music: '\eb10';
$game-icons-Media_Technology_no-music2: '\eb11';
$game-icons-Media_Technology_notification: '\eb12';
$game-icons-Media_Technology_pause: '\eb13';
$game-icons-Media_Technology_phone: '\eb14';
$game-icons-Media_Technology_play: '\eb15';
$game-icons-Media_Technology_power-switch: '\eb16';
$game-icons-Media_Technology_previous-frame: '\eb17';
$game-icons-Media_Technology_previous: '\eb18';
$game-icons-Media_Technology_protect: '\eb19';
$game-icons-Media_Technology_qr: '\eb1a';
$game-icons-Media_Technology_record: '\eb1b';
$game-icons-Media_Technology_recording: '\eb1c';
$game-icons-Media_Technology_share: '\eb1d';
$game-icons-Media_Technology_share2: '\eb1e';
$game-icons-Media_Technology_silent: '\eb1f';
$game-icons-Media_Technology_stop: '\eb20';
$game-icons-Media_Technology_tablet: '\eb21';
$game-icons-Media_Technology_tag: '\eb22';
$game-icons-Media_Technology_time: '\eb23';
$game-icons-Media_Technology_trash: '\eb24';
$game-icons-Media_Technology_upload: '\eb25';
$game-icons-Media_Technology_video: '\eb26';
$game-icons-Media_Technology_volume: '\eb27';
$game-icons-Media_Technology_watch: '\eb28';
$game-icons-Media_Technology_webcam: '\eb29';
$game-icons-Media_Technology_wifi: '\eb2a';
$game-icons-Shapes_Symbol_123: '\eb2b';
$game-icons-Shapes_Symbol_a: '\eb2c';
$game-icons-Shapes_Symbol_abc: '\eb2d';
$game-icons-Shapes_Symbol_acute-triangle: '\eb2e';
$game-icons-Shapes_Symbol_approximately-equal: '\eb2f';
$game-icons-Shapes_Symbol_arrow-down: '\eb30';
$game-icons-Shapes_Symbol_arrow-down2: '\eb31';
$game-icons-Shapes_Symbol_arrow-down3: '\eb32';
$game-icons-Shapes_Symbol_arrow-left: '\eb33';
$game-icons-Shapes_Symbol_arrow-left2: '\eb34';
$game-icons-Shapes_Symbol_arrow-left3: '\eb35';
$game-icons-Shapes_Symbol_arrow-right: '\eb36';
$game-icons-Shapes_Symbol_arrow-right2: '\eb37';
$game-icons-Shapes_Symbol_arrow-right3: '\eb38';
$game-icons-Shapes_Symbol_arrow-up: '\eb39';
$game-icons-Shapes_Symbol_arrow-up2: '\eb3a';
$game-icons-Shapes_Symbol_arrow-up3: '\eb3b';
$game-icons-Shapes_Symbol_b: '\eb3c';
$game-icons-Shapes_Symbol_bitcoin: '\eb3d';
$game-icons-Shapes_Symbol_c: '\eb3e';
$game-icons-Shapes_Symbol_capsule: '\eb3f';
$game-icons-Shapes_Symbol_circle: '\eb40';
$game-icons-Shapes_Symbol_cny-jpy: '\eb41';
$game-icons-Shapes_Symbol_d: '\eb42';
$game-icons-Shapes_Symbol_division: '\eb43';
$game-icons-Shapes_Symbol_division2: '\eb44';
$game-icons-Shapes_Symbol_e: '\eb45';
$game-icons-Shapes_Symbol_ease-in-out: '\eb46';
$game-icons-Shapes_Symbol_ease-in: '\eb47';
$game-icons-Shapes_Symbol_ease-out: '\eb48';
$game-icons-Shapes_Symbol_eight: '\eb49';
$game-icons-Shapes_Symbol_ellipse: '\eb4a';
$game-icons-Shapes_Symbol_emoji: '\eb4b';
$game-icons-Shapes_Symbol_emoji10: '\eb4c';
$game-icons-Shapes_Symbol_emoji11: '\eb4d';
$game-icons-Shapes_Symbol_emoji12: '\eb4e';
$game-icons-Shapes_Symbol_emoji13: '\eb4f';
$game-icons-Shapes_Symbol_emoji14: '\eb50';
$game-icons-Shapes_Symbol_emoji15: '\eb51';
$game-icons-Shapes_Symbol_emoji16: '\eb52';
$game-icons-Shapes_Symbol_emoji17: '\eb53';
$game-icons-Shapes_Symbol_emoji18: '\eb54';
$game-icons-Shapes_Symbol_emoji19: '\eb55';
$game-icons-Shapes_Symbol_emoji2: '\eb56';
$game-icons-Shapes_Symbol_emoji20: '\eb57';
$game-icons-Shapes_Symbol_emoji3: '\eb58';
$game-icons-Shapes_Symbol_emoji4: '\eb59';
$game-icons-Shapes_Symbol_emoji5: '\eb5a';
$game-icons-Shapes_Symbol_emoji6: '\eb5b';
$game-icons-Shapes_Symbol_emoji7: '\eb5c';
$game-icons-Shapes_Symbol_emoji8: '\eb5d';
$game-icons-Shapes_Symbol_emoji9: '\eb5e';
$game-icons-Shapes_Symbol_equals: '\eb5f';
$game-icons-Shapes_Symbol_equilateral-triangle: '\eb60';
$game-icons-Shapes_Symbol_eur: '\eb61';
$game-icons-Shapes_Symbol_f: '\eb62';
$game-icons-Shapes_Symbol_five-pointed-star: '\eb63';
$game-icons-Shapes_Symbol_five: '\eb64';
$game-icons-Shapes_Symbol_four-pointed-star: '\eb65';
$game-icons-Shapes_Symbol_four: '\eb66';
$game-icons-Shapes_Symbol_function: '\eb67';
$game-icons-Shapes_Symbol_g: '\eb68';
$game-icons-Shapes_Symbol_gbp: '\eb69';
$game-icons-Shapes_Symbol_greater-than-or-equal: '\eb6a';
$game-icons-Shapes_Symbol_greater-than: '\eb6b';
$game-icons-Shapes_Symbol_h: '\eb6c';
$game-icons-Shapes_Symbol_heptagon: '\eb6d';
$game-icons-Shapes_Symbol_hexagon: '\eb6e';
$game-icons-Shapes_Symbol_i: '\eb6f';
$game-icons-Shapes_Symbol_infinity: '\eb70';
$game-icons-Shapes_Symbol_inr: '\eb71';
$game-icons-Shapes_Symbol_j: '\eb72';
$game-icons-Shapes_Symbol_k: '\eb73';
$game-icons-Shapes_Symbol_krw: '\eb74';
$game-icons-Shapes_Symbol_l: '\eb75';
$game-icons-Shapes_Symbol_less-than-or-equal: '\eb76';
$game-icons-Shapes_Symbol_less-than: '\eb77';
$game-icons-Shapes_Symbol_linear: '\eb78';
$game-icons-Shapes_Symbol_m: '\eb79';
$game-icons-Shapes_Symbol_minus: '\eb7a';
$game-icons-Shapes_Symbol_multiplication: '\eb7b';
$game-icons-Shapes_Symbol_multiplication2: '\eb7c';
$game-icons-Shapes_Symbol_multiplication3: '\eb7d';
$game-icons-Shapes_Symbol_n: '\eb7e';
$game-icons-Shapes_Symbol_ngn: '\eb7f';
$game-icons-Shapes_Symbol_nine: '\eb80';
$game-icons-Shapes_Symbol_not-equal: '\eb81';
$game-icons-Shapes_Symbol_o: '\eb82';
$game-icons-Shapes_Symbol_obtuse-triangle: '\eb83';
$game-icons-Shapes_Symbol_one: '\eb84';
$game-icons-Shapes_Symbol_p: '\eb85';
$game-icons-Shapes_Symbol_parallelogram: '\eb86';
$game-icons-Shapes_Symbol_pentagon: '\eb87';
$game-icons-Shapes_Symbol_percent: '\eb88';
$game-icons-Shapes_Symbol_pi: '\eb89';
$game-icons-Shapes_Symbol_plus: '\eb8a';
$game-icons-Shapes_Symbol_q: '\eb8b';
$game-icons-Shapes_Symbol_quadrilateral: '\eb8c';
$game-icons-Shapes_Symbol_quarter-circle: '\eb8d';
$game-icons-Shapes_Symbol_r: '\eb8e';
$game-icons-Shapes_Symbol_rectangle: '\eb8f';
$game-icons-Shapes_Symbol_rhombus: '\eb90';
$game-icons-Shapes_Symbol_right-trapezoid: '\eb91';
$game-icons-Shapes_Symbol_rub: '\eb92';
$game-icons-Shapes_Symbol_s: '\eb93';
$game-icons-Shapes_Symbol_semicircle: '\eb94';
$game-icons-Shapes_Symbol_seven-pointed-star: '\eb95';
$game-icons-Shapes_Symbol_seven: '\eb96';
$game-icons-Shapes_Symbol_six-pointed-star: '\eb97';
$game-icons-Shapes_Symbol_six: '\eb98';
$game-icons-Shapes_Symbol_square-root: '\eb99';
$game-icons-Shapes_Symbol_square: '\eb9a';
$game-icons-Shapes_Symbol_t: '\eb9b';
$game-icons-Shapes_Symbol_thb: '\eb9c';
$game-icons-Shapes_Symbol_three-pointed-star: '\eb9d';
$game-icons-Shapes_Symbol_three-quarter-circle: '\eb9e';
$game-icons-Shapes_Symbol_three: '\eb9f';
$game-icons-Shapes_Symbol_trapezoid: '\eba0';
$game-icons-Shapes_Symbol_triangle: '\eba1';
$game-icons-Shapes_Symbol_try: '\eba2';
$game-icons-Shapes_Symbol_two: '\eba3';
$game-icons-Shapes_Symbol_u: '\eba4';
$game-icons-Shapes_Symbol_usd: '\eba5';
$game-icons-Shapes_Symbol_usd2: '\eba6';
$game-icons-Shapes_Symbol_v: '\eba7';
$game-icons-Shapes_Symbol_w: '\eba8';
$game-icons-Shapes_Symbol_x: '\eba9';
$game-icons-Shapes_Symbol_y: '\ebaa';
$game-icons-Shapes_Symbol_yen: '\ebab';
$game-icons-Shapes_Symbol_yuan: '\ebac';
$game-icons-Shapes_Symbol_z: '\ebad';
$game-icons-Shapes_Symbol_zero: '\ebae';
$game-icons-UI_adjustment: '\ebaf';
$game-icons-UI_ban: '\ebb0';
$game-icons-UI_circle-ring: '\ebb1';
$game-icons-UI_cross: '\ebb2';
$game-icons-UI_dark-mode: '\ebb3';
$game-icons-UI_dark-mode2: '\ebb4';
$game-icons-UI_exclamation-double: '\ebb5';
$game-icons-UI_exclamation: '\ebb6';
$game-icons-UI_expand: '\ebb7';
$game-icons-UI_expand2: '\ebb8';
$game-icons-UI_expand3: '\ebb9';
$game-icons-UI_expand4: '\ebba';
$game-icons-UI_friends: '\ebbb';
$game-icons-UI_grid-add: '\ebbc';
$game-icons-UI_grid: '\ebbd';
$game-icons-UI_grid2: '\ebbe';
$game-icons-UI_grid3: '\ebbf';
$game-icons-UI_grid4: '\ebc0';
$game-icons-UI_grid5: '\ebc1';
$game-icons-UI_grid6: '\ebc2';
$game-icons-UI_grid7: '\ebc3';
$game-icons-UI_info: '\ebc4';
$game-icons-UI_invisible: '\ebc5';
$game-icons-UI_light-mode: '\ebc6';
$game-icons-UI_light-mode2: '\ebc7';
$game-icons-UI_loading: '\ebc8';
$game-icons-UI_loading2: '\ebc9';
$game-icons-UI_loading3: '\ebca';
$game-icons-UI_loading4: '\ebcb';
$game-icons-UI_loading5: '\ebcc';
$game-icons-UI_lock: '\ebcd';
$game-icons-UI_menu-add: '\ebce';
$game-icons-UI_menu-open: '\ebcf';
$game-icons-UI_menu: '\ebd0';
$game-icons-UI_menu2: '\ebd1';
$game-icons-UI_menu3: '\ebd2';
$game-icons-UI_menu4: '\ebd3';
$game-icons-UI_menu5: '\ebd4';
$game-icons-UI_menu6: '\ebd5';
$game-icons-UI_menu7: '\ebd6';
$game-icons-UI_progress: '\ebd7';
$game-icons-UI_query: '\ebd8';
$game-icons-UI_refresh: '\ebd9';
$game-icons-UI_rest: '\ebda';
$game-icons-UI_restore: '\ebdb';
$game-icons-UI_restore2: '\ebdc';
$game-icons-UI_restore3: '\ebdd';
$game-icons-UI_restore4: '\ebde';
$game-icons-UI_rotate-left: '\ebdf';
$game-icons-UI_rotate-right: '\ebe0';
$game-icons-UI_save: '\ebe1';
$game-icons-UI_search: '\ebe2';
$game-icons-UI_settings: '\ebe3';
$game-icons-UI_settings2: '\ebe4';
$game-icons-UI_slider: '\ebe5';
$game-icons-UI_tick: '\ebe6';
$game-icons-UI_toggle-off: '\ebe7';
$game-icons-UI_toggle-on: '\ebe8';
$game-icons-UI_toggle: '\ebe9';
$game-icons-UI_ui: '\ebea';
$game-icons-UI_unlock: '\ebeb';
$game-icons-UI_user-add: '\ebec';
$game-icons-UI_user-alert: '\ebed';
$game-icons-UI_user-avatar: '\ebee';
$game-icons-UI_user-avatar2: '\ebef';
$game-icons-UI_user-check: '\ebf0';
$game-icons-UI_user-delete: '\ebf1';
$game-icons-UI_user-group: '\ebf2';
$game-icons-UI_user-list: '\ebf3';
$game-icons-UI_user-remove: '\ebf4';
$game-icons-UI_user: '\ebf5';
$game-icons-UI_visible: '\ebf6';
$game-icons-UI_zoom-in: '\ebf7';
$game-icons-UI_zoom-out: '\ebf8';
