@font-face {
  font-family: "game-icons";
  src: url('game-icons.eot?t=1779520596565'); /* IE9*/
  src: url('game-icons.eot?t=1779520596565#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('game-icons.woff2?t=1779520596565') format('woff2'),
  url('game-icons.woff?t=1779520596565') format('woff'),
  url('game-icons.ttf?t=1779520596565') format('truetype'),
  url('game-icons.svg?t=1779520596565') format('svg');
}

[class^="game-icons-"], [class*=" game-icons-"] {
  font-family: 'game-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.game-icons-arrow-down::before { content: "\ea01"; }
.game-icons-arrow-up::before { content: "\ea02"; }
.game-icons-cross::before { content: "\ea03"; }
.game-icons-pause::before { content: "\ea04"; }
.game-icons-play::before { content: "\ea05"; }
.game-icons-save::before { content: "\ea06"; }
.game-icons-stop::before { content: "\ea07"; }


